@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jua Regular';
  src: url("./assets/fonts/Jua-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit Medium';
  src: url("./assets/fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit Bold';
  src: url("./assets/fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Outfit Regular';
  src: url("./assets/fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}